/* Default Styles */
.vertex {
    -fx-fill: #ffffff;
    -fx-stroke: #37474f;
    -fx-stroke-width: 3;
}

.edge {
    -fx-stroke: #5b5b5b;
    -fx-fill: transparent;
    -fx-stroke-width: 4;
}

.edge-label {
    -fx-font: bold 11pt "sans-serif";
    -fx-fill: #37474f;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 8, 0.2, 0, 4);
}

.vertex-label {
    -fx-font: bold 12pt "sans-serif";
    -fx-fill: #212121;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 8, 0.2, 0, 4);
}

.vertex-k {
    -fx-fill: #0288d1;
    -fx-stroke: #01579b;
    -fx-stroke-width: 4;
    -fx-radius: 28;
}

.vertex-i {
    -fx-fill: #ffb74d;
    -fx-stroke: #f57c00;
    -fx-stroke-width: 3;
}

.vertex-j {
    -fx-fill: #ce93d8;
    -fx-stroke: #8e24aa;
    -fx-stroke-width: 3;
}

.edge-ij {
    -fx-stroke: #fff176;
    -fx-fill: transparent;
    -fx-stroke-width: 3;
}

.edge-ij-updated {
    -fx-stroke: #43a047;
    -fx-fill: transparent;
    -fx-stroke-width: 4;
}

.edge-ik {
    -fx-stroke: #ffb74d;
    -fx-fill: transparent;
    -fx-stroke-width: 3;
}

.edge-kj {
    -fx-stroke: #ce93d8;
    -fx-fill: transparent;
    -fx-stroke-width: 3;
}

/* User Selection Sync */
.vertex-selected {
    -fx-stroke: #fff176;
    -fx-fill: transparent;
    -fx-stroke-width: 5;
}

.edge-selected {
    -fx-stroke: #fff176;
    -fx-fill: transparent;
    -fx-stroke-width: 5;
}